
@{
    ViewBag.Title = "ForgetPass";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small">
                    <a id="myCart" href="@Url.Action("Index", "Cart", new { id = ViewBag.user_id})"><img src="~/Content/upload/images/ico-cart.png" alt="cart">GIỎ HÀNG<span class="badge badge-warning pull-right">MUA NGAY</span></a>
                </div>
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    @{Html.RenderAction("getCategorySideBar", "Default"); }
                </ul>
                <br />
                <div class="thumbnail">
                    <img src="~/Content/upload/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
                    <div class="caption">
                        <h5>Payment Methods</h5>
                    </div>
                </div>
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Default")">Trang chủ</a> <span class="divider">/</span></li>
                    <li class="active">Quên mật khẩu?</li>
                </ul>
                <h3> QUÊN MẬT KHẨU?</h3>
                <hr class="soft" />

                <div class="row">
                    <div class="span9" style="min-height:900px">
                        <div class="well">
                            <h5>Nhận lại mật khẩu</h5><br />
                            Xin hãy nhập địa chỉ email để được cấp lại mật khẩu. <sub>Tại chúng tôi lười</sub> <br /><br /><br />
                            <form>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail1">Địa chỉ email</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputEmail1" placeholder="Email">
                                    </div>
                                </div>
                                <div class="controls">
                                    <button type="submit" class="btn block">Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
